body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#020617,#0f172a,#1e293b);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.container{
    width:95%;
    max-width:950px;
    background:rgba(30,41,59,0.95);
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 40px rgba(56,189,248,0.25);
    border:1px solid rgba(56,189,248,0.25);
}

.header{
    text-align:center;
    margin-bottom:20px;
}

.header h1{
    margin:0;
    color:#38bdf8;
    font-size:42px;
}

.header p{
    color:#cbd5e1;
}

.quick-buttons{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    margin-bottom:20px;
}

.quick-buttons button{
    background:#38bdf8;
    color:black;
    border:none;
    padding:10px 16px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.quick-buttons button:hover{
    transform:translateY(-2px);
}

#chat-box{
    height:450px;
    overflow-y:auto;
    background:#0f172a;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
}

.user-message{
    text-align:right;
    margin:12px 0;
}

.user-bubble{
    display:inline-block;
    background:#38bdf8;
    color:black;
    padding:12px;
    border-radius:18px 18px 4px 18px;
    max-width:75%;
}

.bot-message{
    text-align:left;
    margin:12px 0;
}

.bot-bubble{
    display:inline-block;
    background:#1e293b;
    border:1px solid #38bdf8;
    padding:12px;
    border-radius:18px 18px 18px 4px;
    max-width:75%;
}

.typing{
    color:#38bdf8;
    font-style:italic;
}

.input-area{
    display:flex;
    gap:10px;
}

#user-input{
    flex:1;
    padding:14px;
    border:none;
    border-radius:10px;
    outline:none;
}

.send-btn{
    background:#38bdf8;
    color:black;
    border:none;
    padding:14px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

@media(max-width:768px){

    .header h1{
        font-size:30px;
    }

    #chat-box{
        height:350px;
    }

    .user-bubble,
    .bot-bubble{
        max-width:90%;
    }

    .input-area{
        flex-direction:column;
    }
}
